.after_chat__wrapper {
  background: var(--color-white);
  border-radius: 10px;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  transform-style: preserve-3d;

  @media (max-width: 450px) {
    border: none;
    border-radius: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 550px;
    height: 550px;
    background: var(--color-blue);
    border-radius: 50%;
    transform: translateX(-1px);
    top: -30%;
  }
}

.after_chat__content {
  height: 100%;

  h1 {
    font-size: 40px;
    font-family: "NunitoSand-eb", sans-serif;
    font-weight: 800;
    text-align: center;
    margin-top: 20px;
    width: 90%;
    z-index: 2;

    @media (max-width: 450px) {
      font-size: 32px;
    }

    @media (max-width: 360px) {
      font-size: 28px;
    }
  }

  p {
    margin-top: 10px;
    color: #353535;
    text-align: center;
    opacity: 0.7;
    width: 70%;
    z-index: 2;
  }

  button,
  a {
    position: absolute;
    top: 85%;
    padding: 15px;
    background: var(--color-yellow);
    color: var(--color-light-black);
    width: 90%;
    border-radius: 40px;
    z-index: 2;
    transition: all 0.2s ease;
    text-align: center;

    @media (max-width: 450px) {
      top: 79%;
    }
  }
}

.after_chat__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  height: 320px;
  width: 100%;
  margin-top: auto;
  margin-bottom: 50px;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../../assets/images/cross.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 20%;
  }

  @media (max-width: 450px) {
    margin-bottom: 0px;
  }

  @media (max-height: 750px) and (max-width: 450px) {
    margin-bottom: 0px;
  }

  @media (max-height: 700px) and (max-width: 450px) {
    margin-bottom: -120px;
  }

  @media (max-height: 645px) and (max-width: 450px) {
    margin-bottom: -120px;
  }

  @media (max-height: 585px) and (max-width: 450px) {
    margin-bottom: -150px;
  }

  @media (max-height: 555px) and (max-width: 450px) {
    margin-bottom: -160px;
  }
}

.after_chat__image > img {
  width: 80%;
  z-index: 1;
  position: absolute;
  top: -40%;
  left: 5%;
  margin-top: 60px;

  @media (max-width: 450px) {
    width: 90%;
    left: -20px;
    top: -250px;
  }
}

.after_chat__header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  z-index: 5;

  div {
    width: 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    div {
      height: 1px;
      background: var(--color-light-black);
    }
  }
}

.after_chat__person__first,
.after_chat__person__third {
  img {
    width: 310% !important;
  }
}

.after_chat__person__second {
  height: 100%;

  img {
    width: 250% !important;
  }

  button {
    margin-top: 85px !important;
  }

  .after_chat__message {
    width: 80%;
  }
}

.after_chat__person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 85%;
  width: 100%;

  img {
    position: absolute;
    top: 0%;
    width: 100%;
  }

  button {
    margin-top: auto;
    background: var(--color-blue);
    color: var(--color-white);
  }
}

.after_chat__messages {
  margin-top: 220px;
}

.after_chat__person__third {
  .after_chat__messages {
    margin-top: 200px;
    width: 100% !important;

    @media (max-width: 450px) {
      margin-top: 100px;
    }
  }

  button {
    @media (max-width: 450px) {
      top: 75%;
    }
  }
}

.after_chat__message {
  z-index: 2;
  background: #ececec;
  padding: 10px;
  margin-top: 30px;
  margin-right: 50px;
  border-radius: 10px;
  width: 230px;
  position: relative;
  margin-left: 40px;

  &::before {
    content: "";
    position: absolute;

    top: 0%;
    right: -10.5px;

    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent #ececec transparent;
    transform: rotate(270deg);
  }

  p {
    width: 100%;
    margin-top: 0;
    text-align: left;
  }
}

.after_chat__person__third {
  .after_chat__message {
    width: 60%;
    margin-top: 200px;

    &::before {
      border-width: 0 20px 20px 20px;
      right: -4%;
    }
  }

  button {
    margin-top: 100px !important;
  }
}

.after_chat__person__fourth {
  height: 100%;
  width: 100%;
  background: var(--color-light-black);
  overflow-y: auto;
  margin-top: -20px !important;

  button {
    position: static;
    // margin-top: 20px;
    margin-top: auto;
    margin-bottom: 20px;

    @media (max-width: 450px) {
      margin-bottom: 100px;
    }
  }
}

.after_chat__person__fourth {
  justify-content: start;
  align-items: center;
}

.after_chat__person__say {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 140px !important;
  color: var(--color-white);
  border: 1px solid rgb(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  width: 90%;
  margin-top: 30px;
  overflow: hidden;

  img {
    position: static;
    width: auto;
    height: 100%;
    object-fit: contain;
  }

  p {
    color: var(--color-white);
    margin-top: 10px;
    text-align: left;
    opacity: 0.9;
  }

  @media (max-width: 410px) {
    p {
      font-size: 12px;
    }
  }

  @media (max-width: 350px) {
    h3 {
      font-size: 16px;
    }
  }
}

.after_chat__popular {
  width: 90%;
  margin-top: 10px;

  p {
    color: var(--color-white);
    text-align: left;
  }
}

.after_chat__person__fourth {
  margin-top: 10px;
  width: 100%;

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 5px;

    li {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 10px;
      width: 100%;
      padding: 5px 10px;
      border-radius: 10px;
      background: rgba(102, 102, 102, 0.2);

      p {
        color: var(--color-white);
        text-align: left;
        // width: 100%;
        margin-bottom: 10px;

        @media (max-width: 320px) {
          font-size: 12px;
        }
      }

      img {
        position: static;
        width: auto;
        height: auto;
      }
    }
  }
}

.after_chat__person__fifth {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  height: 100%;

  h2 {
    padding: 0 20px;
    font-size: 42px;
    font-family: "NunitoSans-eb", sans-serif;
    font-weight: 800;

    a {
      text-decoration: underline;
    }
  }
}

.after_chat__promo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  padding: 0 20px;
  margin-top: 10px;

  p {
    text-align: left;
    opacity: 1;
  }

  img {
    width: 20px;
    height: 20px;
  }
}

.after_chat__promo > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-light-black) !important;
  padding: 10px;

  position: static;
  background: none;
  text-align: left;

  border-radius: 5px !important;
  margin-top: 5px;

  p {
    color: var(--color-white) !important;
    width: auto !important;
    margin-top: 0;
  }

  img {
    position: static;
    text-align: right;
    width: 20px !important;
  }
}

.after_chat__person__fifth > img {
  left: -70%;
  top: 30%;
}

.after_chat__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 70%;
  width: 90%;

  a,
  button {
    position: static;
    width: 100%;
    opacity: 1;
  }

  a:last-child {
    background: none;
    padding: none;
    font-size: 14px;
    color: var(--color-yellow);
    text-decoration: underline;
  }

  @media (max-width: 450px) {
    top: 63%;
  }
}

.after_chat__person__sixth {
  img {
    width: 220% !important;
  }

  @media (min-height: 700px) and (max-width: 450px) {
    margin-top: 100px;
  }
}

.after_chat__person__sixth {
  position: relative;

  @media (max-width: 450px) {
    .after_chat__message {
      margin-top: 10px;
    }
  }

  @media (max-width: 450px) and (max-height: 615px) {
    .after_chat__message {
      margin-top: 60px;
    }
  }

  .after_chat__buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    width: 90%;
    top: 80%;

    a {
      width: 100%;
      position: static;
    }

    @media (max-width: 450px) {
      top: 65%;
    }
  }
}

.after_chat__person__fifth h2 > a {
  position: static;
  margin: 0;
  padding: 0;
  width: auto;
}

.after_chat__person__fifth {
  p {
    margin-top: 0;
  }
}

.after_chat__person__fifth img {
  width: 80% !important;
  position: static;
  margin-top: 0px;
  margin-left: 20px;

  @media (max-width: 450px) {
    width: 90%;
    margin-top: 20px;
  }
}

.after_chat__person__fifth__top {
  display: flex;
  background: #f3f3f3;
  color: #161616;

  img {
    width: 110px !important;
    height: 150px;
    object-fit: contain;
  }

  .after_chat__person__fifth__top__text {
    p {
      text-align: left;
    }
  }
}
