.banner {
  background: linear-gradient(
    180deg,
    rgba(255, 115, 99, 1) 0%,
    rgba(104, 115, 255, 1) 100%
  );
  height: 70px;
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: all .2s ease;
}

.banner__image {
  position: absolute;
  width: 150px;
  height: auto;

  &:first-child {
    left: -80px;
    top: 5px;
    transform: scaleX(-1) rotate(-15deg);
  }

  &:last-child {
    left: 330px;
    top: 10px;
  }
}

.banner__link {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  h2 {
    font-size: 20px;
    font-family: "NunitoSans-eb", sans-serif;
    font-weight: 800;
    display: flex;
    align-items: center;

    svg {
      margin-right: 10px;
    }
  }

  p {
    font-size: 9px !important;

    a {
      text-decoration: underline;
    }
  }
}

.banner__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner__text {
  text-align: center;
  color: var(--color-light-black);
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

.banner__text h2 {
  position: relative;
  display: inline-block;
  animation: fadeInOut 4s infinite;
}
