.final__wrapper {
  background: var(--color-white);

  border-radius: 10px;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  transform-style: preserve-3d;

  gap: 10px;

  @media (max-width: 450px) {
    border: none;
    border-radius: 0;
    overflow-y: auto;
  }

  &::before {
    content: "";
    position: absolute;
    width: 550px;
    height: 550px;
    background: var(--color-blue);
    border-radius: 50%;
    transform: translateX(-1px);
    top: -30%;
  }
}

.final__content {
  z-index: 1;
  padding: 20px;
  width: 100%;

  h1 {
    font-family: "Nunito-sans-eb";
    font-weight: 800;
    font-size: 40px;
  }

  & > p {
    margin-top: 10px;
  }

  .final__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85%;
    margin-left: 30px;

    img {
      width: 340px;
    }

    @media (max-height: 700px) {
      height: 70%;
    }
  }

  & > a {
    background: var(--color-blue);
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    display: block;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 20px;
  }

  .final__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1e1e1e;
    margin-bottom: -90px;

    a {
      &:first-child {
        opacity: 0.7;
      }

      &:last-child {
        color: var(--color-blue);
        text-decoration: underline;
      }
    }

    @media (max-width: 450px) {
      margin-bottom: -80px;
    }
  }
}
