.season_pass__wrapper {
  background: var(--color-yellow);

  border: 1px solid rgba(51, 85, 51, 0.333);
  border-radius: 10px;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 450px) {
    border: none;
    border-radius: 0;
  }

  .season_pass__notification__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    a {
      width: 90%;
      z-index: 99;
    }
  }

  button,
  a {
    width: 90%;
    padding: 10px;
    border-radius: 50px;
    font-size: 20px;
    text-align: center;
    background: var(--color-light-black);
    color: var(--color-white);
    margin-bottom: 20px;

    @media (max-width: 450px) {
      margin-bottom: 110px;
    }
  }

  button {
    position: absolute;
    // z-index: 1;
    top: 90%;

    @media (max-width: 450px) {
      top: 79%;
    }
  }
}

.season_pass__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  margin-top: 10px;

  h1 {
    width: 280px;
    font-size: 40px;
    font-family: "Nunito-sans-eb", sans-serif;
    font-weight: 700;
  }

  p {
    font-size: 18px;
  }
}

.season_pass__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  img {
    // @media (max-width: 320px) {
    max-width: 450px;
    min-width: 450px;
    object-fit: contain;
    z-index: 0;
    margin-top: 20px;
    // }
  }
}

.season_pass__notification {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;

  backdrop-filter: blur(8px);

  position: absolute;
  top: 0;
  left: 0;

  transition: all 0.2s ease;
}

.season_pass__bank {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #f5f5f5;
  border-radius: 12px;
  padding: 8px;
  margin: 20px;
  width: fit-content;
}

.season_pass__notification__text {
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: 14px;
    }
  }

  p {
    font-size: 12px;
  }
}
