.main__wrapper {
  background-image: url("../../assets/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid rgba(51, 85, 51, 0.333);
  border-radius: 10px;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 450px) {
    border: none;
    border-radius: 0;
  }

  .main__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    padding-top: 40px;
    position: relative;

    z-index: 1;

    h2 {
      font-size: 30px;
      text-align: center;
      text-transform: uppercase;
      color: #161616;
    }

    .main__content__navigation {
      display: flex;
      justify-content: space-between;
      width: 185px;

      .main__button__down {
        p {
          color: #ff0000;
        }
      }

      .main__button__up {
        p {
          color: #34c759;
        }
      }

      .main__button__down,
      .main__button__up {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .main__button__down__icon,
        .main__button__up__icon {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          background: var(--color-red);
          border-radius: 50%;
        }

        @keyframes ring {
          0% {
            transform: rotate(0deg);
          }
          10% {
            transform: rotate(15deg);
          }
          20% {
            transform: rotate(-10deg);
          }
          30% {
            transform: rotate(5deg);
          }
          40% {
            transform: rotate(-5deg);
          }
          50% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(0deg);
          }
        }

        .main__button__up__icon {
          background: var(--color-green);
          animation: ring 0.6s infinite;
          transform-origin: 50% 50%;
          position: relative;
          overflow: visible;
        }

        .main__button__up__icon::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background: var(--color-green);
          opacity: 0.3;
          animation: shadow-wave 2s infinite ease-out;
          top: 0;
          left: 0;
          transform: scale(1);
          z-index: -2;
        }

        @keyframes shadow-wave {
          0% {
            transform: scale(1);
            opacity: 0.5;
          }
          100% {
            transform: scale(2.5);
            opacity: 0;
          }
        }

        p {
          margin-top: 5px;
          font-size: 14px;
          font-family: "Nunito-md", sans-serif;
          font-weight: 500;

          @media (max-width: 450px) {
            font-size: 12px;
          }
        }
      }

      margin-bottom: -40px;

      @media (max-width: 380px) {
        width: 160px;
      }
    }

    margin-top: 125px;

    @media (max-width: 450px) {
      margin-top: 150px;
      height: 450px;
    }

    @media (max-height: 680px) {
      // margin-top: -50px;
      margin-top: 100px;
    }
  }

  .main__hand__image {
    position: absolute;
    // left: 13%;
    top: 120px;

    img {
      @media (max-width: 450px) {
        width: 280px;
        height: auto;
      }
    }

    @media (max-height: 680px) {
      margin-top: -50px;
    }
  }

  @media (max-height: 675px) {
    height: 100vh;
  }
}
