.starter__wrapper {
  background: var(--color-blue);
  background-image: url("../../assets/images/start_bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 10px;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden !important;

  padding: 20px;
  gap: 10px;

  @media (max-width: 450px) {
    border: none;
    border-radius: 0;
    overflow-y: auto;
  }
}

.starter__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .starter__head__menu {
    width: 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;

    div {
      width: 100%;
      height: 1px;
      background: var(--color-light-black);
    }
  }
}

.starter__wrapper > h1 {
  font-size: 40px;
  width: 90%;
  text-align: center;
  font-family: "NunitoSans-bd", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 2;

  @media (max-width: 390px) {
    font-size: 32px;
  }
}

.starter__wrapper > p {
  text-align: center;
  width: 270px;
  z-index: 2;
}

.starter__wrapper > img {
  position: absolute;
  top: 38%;
  // right: -85%;
  width: 190%;

  // width: 1200px;
}

.starter__buttons {
  margin-top: auto;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 100%;

  button {
    height: 55px;
    width: 140px;
    padding: 10px;
    background: var(--color-white);
    color: var(--color-dark);
    border-radius: 40px;
    font-size: 20px;
  }

  @media (max-width: 450px) {
    margin-bottom: 100px;
  }
}
