:root {
  --color-black: #000;
  --color-dark: #232323;
  --color-white: #fff;
  --color-yellow: #ffdc3c;
  --color-blue: #0c8df8;
  --color-light-black: #353535;
  --color-green: #34c759;
  --color-red: #ff3b30;
}
